<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    <datalist id="items">
        {% for option in items %}
    <option value="{{ option }}">
        {% endfor %}
      </datalist>
    <center>
        <h1>Create Purchase Order</h1>
        <table style="width:100%">
            <tr>
                <th>Sno</th>
                <th>Item</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Vendor</th>
                <th>Price</th>
                <th><a href="#">Edit</a></th>

            </tr>
            <tr>
                <th> 1 </th>
                <th><input list="items" name="browser" id="browser"></th>
                <th> </th>
                <th> <input id type="text" value="" readonly></th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
        </table>
        <br><br>
    </center>
    <a href="#">add items</a>
    <a href="#">submit PO</a>
</body>

</html>