<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory</title>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <center>
        <h1>Inventory details</h1>
        <table style="width:100%">
            <tr>
                <th>Sno</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Units</th>
                <th>power value</th>
            </tr>
            <tr>
                <th>1 </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th>2 </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th>3 </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th>4 </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>
            <tr>
                <th>5 </th>
                <th> </th>
                <th> </th>
                <th> </th>
                <th> </th>
            </tr>

        </table>
        <br><br>
    </center>
    <a href="#">add items</a>
</body>

</html>