<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inventory</title>

  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>

</head>

<body>
  <center>
    <h1>Inventory details</h1>
    <table style="width:100%">
      <tr>
        <th>Sno</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Units</th>
        <th>power value</th>
      </tr>
      <tr>
        <td>1</td>
        <td>milk</td>
        <td>25</td>
        <td>liters</td>
        <td>25</td>
      </tr>
      <tr>
        <td>2</td>
        <td>butter</td>
        <td>5</td>
        <td>packets</td>
        <td>7</td>
      </tr>
    </table>
  </center>

</body>

</html>