<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Login page</h1><br>
        <label>Username: <input type="text" name="Username" id="username" placeholder="Enter username">
        </label><br><br>
        <label>Password <input type="password" name="Password" id="Password"
                placeholder="Enter password"></label><br><br>
        <input type="submit" name="Login" id="Login" value="Login">
    </center>
</body>

</html>