<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
</head>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script >
$(document).ready(function() {
  $('#loginForm').submit(function(event) {
    event.preventDefault(); // Prevent the form from submitting

    // Get the input values
    var username = $('#username').val();
    var password = $('#password').val();
    var role = $('#pageSelection').val();

    $.ajax({
      type: 'POST',
      url: "{% url 'login_valid' %}",  // Replace with your login URL
      data: {
        'username': username,
        'password': password,
        'role' : role,
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
      },
      success: function(response) {
        // Handle the response from the server
        if (response.success) {
          // Successful login, redirect or perform other actions
          alert('Login successful!');
        } else {
          // Invalid login credentials
          alert('Invalid username or password.');
        }
      },
      error: function(xhr, textStatus, errorThrown) {
        // Handle the AJAX request error
        console.error('Error:', errorThrown);
      }
    });
  });
});
  </script>

<body>
    <h1>Login</h1>

    <form id="loginForm" >
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="pageSelection">Select Page:</label>
        <select id="pageSelection" name="pageSelection">
            <option value="">Select...</option>
            <option value="SMhome" id="SMhome" >Store Manager</option>
            <option value="Mhome" id="Mhome">Manager</option>
            <option value="ADMINhome" id="ADMINhome">Admin</option>
        </select>
        <br>
        <button id="login" type="submit">login</button>
    </form>

</body>

</html>