<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>

</head>

<body>
    <center>
        <h1>Purchase Order</h1>
        <table style="width:100%">
            <tr>
                <th>Sno</th>
                <th>item</th>
                <th>Vendor</th>
                <th>price</th>
                <th>Units</th>
                <th>edit</th>
            </tr>
            <tr>
                <td>1</td>
                <td>milk</td>
                <td>abc agency</td>
                <td>liters</td>
                <td>25</td>
                <th><a href="">edit?</a></th>
            </tr>
            <tr>
                <td>2</td>
                <td>butter</td>
                <td>xyz traders</td>
                <td>packets</td>
                <td>7</td>
                <th><a href="">edit?</a></th>

            </tr>
        </table>
    </center>
</body>

</html>