<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Store Manager Home Page</h1><br><br>
        <a href="inventory.html">Inventory</a><br><br>
        <a href="createPO.html">Create Purchase Order</a>
        <br><br><a href="recievePO.html">Recieve Purchase Order</a>
        <br><br><a href="issues.html">Issure Stock</a><br><br>

    </center>
</body>

</html>