<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Manager Homepage</title>
</head>

<body>
    <center>
        <a href="">approved</a>
        <a href="">not approved</a>
    </center>
    <ul>
        <li><a href="PO1.html">PO1</a></li>
        <li><a href="PO1.html">PO2</a></li>
        <li><a href="PO1.html">PO3</a></li>
        <li><a href="PO1.html">PO4</a></li>
    </ul>
</body>

</html>